<mat-form-field>
  <input
    matInput
    [(ngModel)]="searchKey"
    (keyup)="applyFilter($event.target.value)"
    placeholder="search"
    autocomplete="off"
  />
  <button
    *ngIf="searchKey"
    mat-button
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="onClear()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="employeeList" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="EMPCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>EMPCode</th>
      <td mat-cell *matCellDef="let emp">{{ emp.EMPCode }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="FullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let emp">{{ emp.FullName }}</td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="Position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Position</th>
      <td mat-cell *matCellDef="let emp">{{ emp.Position }}</td>
    </ng-container>

    <!-- Mobile -->
    <ng-container matColumnDef="Mobile">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</th>
      <td mat-cell *matCellDef="let emp">{{ emp.Mobile }}</td>
    </ng-container>

    <!-- Edit -->
    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">
         <button
            mat-button
            mat-icon-button
            aria-label="Clear"
            (click)="onAdd()"
          >
            <mat-icon>person_add</mat-icon>
          </button>

      </th>
      <td mat-cell *matCellDef="">
        <i class="material-icons edit-icon">edit</i>
      </td>
    </ng-container>

    <!-- Delete -->
    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let emp">
        <button mat-button (click)="onDelete(emp.EmployeeID)">
          <i class="material-icons delete-icon">delete</i>
        </button>
      </td></ng-container
    >

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]"
  ></mat-paginator>
</div>
