<!-- Create the box dialog title and close button -->
<mat-toolbar>
  <span>{{ dialogTitle }}</span>
  <span class="fill-remain-space"></span>
  <button
    class="btn-dialog-close"
    mat-stroked-button
    (click)="onCloseDialog()"
    tabindex="-1"
  >
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<!-- Create the form UI -->
<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
  <!-- Input hidden as reference -->
  <input
    type="hidden"
    name="EmployeeID"
    #EmployeeID="ngModel"
    [(ngModel)]="formData.EmployeeID"
  />
  <!-- Fullname input field -->
  <div class="form-group">
    <label>FULL NAME</label>
    <input
      name="FullName"
      #FullName="ngModel"
      [(ngModel)]="formData.FullName"
      class="form-control"
      required
    />
    <!-- validation error messege -->
    <div class="validation-error" *ngIf="FullName.invalid && FullName.touched">
      This field is required.
    </div>
  </div>
  <!-- Position input field -->
  <div class="form-group">
    <label>POSITION</label>
    <input
      name="Position"
      #Position="ngModel"
      [(ngModel)]="formData.Position"
      class="form-control"
    />
  </div>
  <!-- Employee code input field -->
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>EMP CODE</label>
      <input
        name="EMPCode"
        #EMPCode="ngModel"
        [(ngModel)]="formData.EMPCode"
        class="form-control"
      />
    </div>
    <!-- Mobile contact input field -->
    <div class="form-group  col-md-6">
      <label>MOBILE</label>
      <input
        name="Mobile"
        #Mobile="ngModel"
        [(ngModel)]="formData.Mobile"
        class="form-control"
      />
    </div>
  </div>
  <!-- Submit button -->
  <div class="form-group">
    <button
      type="submit"
      [disabled]="form.invalid"
      class="btn btn-lg btn-block"
    >
      {{ dialogSubmit }}
    </button>
  </div>
</form>
